<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Impact Followers</title>
  <style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  </style>
</head>
<body>
<select name="sample" onchange="location = this.value;">
    <option disabled selected value="">Metrics</option>
 <option value="/likes">Likes</option>
 <option value="/impressions">Impressions</option>
</select>
  <h5>Total Followers</h5>
  <table style = "width:50%">
      <tr>
     <th>Social Media Site</th>
      <th>Follower Count</th>
     <th>Percentage of Total Following</th>
   </tr>
   <tr>
     <td>LinkedIn</td>
       <!--use something like {{ l_followers}} once we have functions to plug in-->
      <td>0</td>
     <td>0%</td>
   </tr>
   <tr>
      <td>Twitter</td>
     <td>0</td>
     <td>0%</td>
    </tr>
    <tr>
      <td>Instagram</td>
     <td>0</td>
     <td>0%</td>
    </tr>
  </table>
  </br>
  <h5>Total Monthly Followers</h5>
    <table style = "width:50%">
        <tr>
     <th>Social Media Site</th>
      <th>Follower Change</th>
     <th>Percent Growth</th>
   </tr>
   <tr>
     <td>LinkedIn</td>
      <td>0</td>
     <td>0%</td>
   </tr>
   <tr>
      <td>Twitter</td>
     <td>0</td>
     <td>0%</td>
    </tr>
    <tr>
      <td>Instagram</td>
     <td>0</td>
     <td>0%</td>
    </tr>
  </table>
</body>
</html>