<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">API menu</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/facebook">Facebook</a></li>
            <li><a href="/facebook">Instagram</a></li>
            <li><a href="/facebook">Twitter</a></li>
            <li><a href="/facebook">Linkedin</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>