<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impact Financial Center Social Media Analytics</title>
</head>
<body>
<h1 style = "text-align:center"> Welcome to the Impact Financial Center Data Analytics</h1>
<h3 style = "text-align:center"> What data are you interested in seeing?</h3>
 <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Metrics
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/followers">Followers</a>
          <a class="dropdown-item" href="/likes">Likes</a>
            <a class="dropdown-item" href="/comments">Comments</a>
        </div>
</div>
</body>
</html>