<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impact Financial Center Social Media Analytics</title>
</head>
<body>
<h1 style = "text-align:center"> Welcome to the Impact Financial Center Data Analytics</h1>
<h3 style = "text-align:center"> What data are you interested in seeing?</h3>
<div style= "text-align:center">
<select name="sample" onchange="location = this.value;">
    <option disabled selected value="">Metrics</option>
 <option value="/followers">Followers</option>
 <option value="/likes">Likes</option>
 <option value="/impressions">Impressions</option>
</select>
</div>
</body>
