<!DOCTYPE html>
<html>
<title>Impact Finance Center Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Black Bar at the Top -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Impact Finance Center</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome</span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <!--Links to other pages -->
  <!-- Note: page your on should have w3-blue in the class -->
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i>  Homepage</a>
    <a href="/facebook" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Facebook</a>
    <a href="/instagram" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-camera fa-fw"></i>  Instagram</a>
    <a href="/twitter" class="w3-bar-item w3-button w3-padding"><i class="fa fa-commenting-o fa-fw"></i>  Twitter</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Twitter Dashboard</b></h5>
  </header>

  <!-- Top Information: Colored Boxes with Followers, Posts, and Views Info -->
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{username}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Username</h4>
      </div>
    </div>
  



  <!--Impressions Table -->
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-twothird">
        <h5>{{strList[0]}}</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Likes</td>
            <td><i>{{info1[0]}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Replies</td>
            <td><i>{{info1[1]}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Retweets</td>
            <td><i>{{info1[2]}}</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Reach Table-->
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-twothird">
        <h5>{{strList[1]}}</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Likes</td>
            <td><i>{{info2[0]}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Replies</td>
            <td><i>{{info2[1]}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Retweets</td>
            <td><i>{{info2[2]}}</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-twothird">
        <h5>{{strList[2]}}</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Likes</td>
            <td><i>{{info3[0]}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Replies</td>
            <td><i>{{info3[1]}}</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Retweets</td>
            <td><i>{{info3[2]}}</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>


<!-- Last 10 Posts Table -->
  <div class="w3-container">
    <h5>Insights on Last 10 Posts</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>Post ID</td>
        <td>Date</td>
        <td>Likes</td>
        <td>Replies</td>
        <td>Retweets</td>
      </tr>
      <tr>
        <td>{{finalList[0][0].id_str}}</td>
        <td>{{finalList[0][0].datestamp}}</td>
        <td>{{finalList[0][0].likes_count}}</td>
        <td>{{finalList[0][0].replies_count}}</td>
        <td>{{finalList[0][0].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][1].id_str}}</td>
        <td>{{finalList[0][1].datestamp}}</td>
        <td>{{finalList[0][1].likes_count}}</td>
        <td>{{finalList[0][1].replies_count}}</td>
        <td>{{finalList[0][1].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][2].id_str}}</td>
        <td>{{finalList[0][2].datestamp}}</td>
        <td>{{finalList[0][2].likes_count}}</td>
        <td>{{finalList[0][2].replies_count}}</td>
        <td>{{finalList[0][2].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][3].id_str}}</td>
        <td>{{finalList[0][3].datestamp}}</td>
        <td>{{finalList[0][3].likes_count}}</td>
        <td>{{finalList[0][3].replies_count}}</td>
        <td>{{finalList[0][3].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][4].id_str}}</td>
        <td>{{finalList[0][4].datestamp}}</td>
        <td>{{finalList[0][4].likes_count}}</td>
        <td>{{finalList[0][4].replies_count}}</td>
        <td>{{finalList[0][4].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][5].id_str}}</td>
        <td>{{finalList[0][5].datestamp}}</td>
        <td>{{finalList[0][5].likes_count}}</td>
        <td>{{finalList[0][5].replies_count}}</td>
        <td>{{finalList[0][5].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][6].id_str}}</td>
        <td>{{finalList[0][6].datestamp}}</td>
        <td>{{finalList[0][6].likes_count}}</td>
        <td>{{finalList[0][6].replies_count}}</td>
        <td>{{finalList[0][6].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][7].id_str}}</td>
        <td>{{finalList[0][7].datestamp}}</td>
        <td>{{finalList[0][7].likes_count}}</td>
        <td>{{finalList[0][7].replies_count}}</td>
        <td>{{finalList[0][7].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][8].id_str}}</td>
        <td>{{finalList[0][8].datestamp}}</td>
        <td>{{finalList[0][8].likes_count}}</td>
        <td>{{finalList[0][8].replies_count}}</td>
        <td>{{finalList[0][8].retweets_count}}</td>
      </tr>
      <tr>
        <td>{{finalList[0][9].id_str}}</td>
        <td>{{finalList[0][9].datestamp}}</td>
        <td>{{finalList[0][9].likes_count}}</td>
        <td>{{finalList[0][9].replies_count}}</td>
        <td>{{finalList[0][9].retweets_count}}</td>
      </tr>
    </table><br>





  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>